<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>秘密</title>
    <link rel="shortcut icon" href="/static/img/home.jpg/" type="image/x-icon" />
</head>
<body>

<nav class="navbar navbar-default " role="navigation" >
    <div class="container-fluid"  style="width:1000px; margin:0 auto;">
        <div>
            <a class="navbar-brand" href="/"><img src={{.Path}}/></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">心中所想</a>
        </div>

        <div class="container-fluid navbar-right">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container" style="width:800px; margin:50px auto;">
    <form class="bs-example bs-example-form" method="post" action="/addartical"  align="center">
        <input name="title"  placeholder="请输入标题" type="text" maxlength="128" minlength="5"  style="width:400px;color: rgb(0, 0, 0); font-size: 26px; font-family: 微软雅黑; font-weight: normal; ">
        <textarea name="content" maxlength="5000"minlength="10" style="width:800px;height: 400px;margin-top: 20px"></textarea>
        <button  type="submit" class="btn btn-primary"  style="width:272px;"
        ><a href="/"> </a>发布秘密</button>
    </form>

</div>

</body>

</html>