<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>秘密</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default " role="navigation">
    <div class="container-fluid" style="width:1000px; margin:0 auto;">
        <div>
            <a class="navbar-brand" href="/"><img src={{.Country}}/></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">心中所想</a>
        </div>

        <div class="container-fluid navbar-right">

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">个人中心
                    <span class="caret"></span>
                </button>
                <ul class=" dropdown-menu" role="menu">
                    {{if.IsLogin}}
                    <li><a href="/loginout"><span class="glyphicon glyphicon-user"></span> 退出登录</a></li>
                    {{else}}
                    <ul >
                        <li><a href="/regester"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    </ul>
                    {{end}}
                    <ul>
                        {{if.IsLogin}}
                        <li><a href="/addartical"><span class="glyphicon glyphicon-log-in"></span> 写秘密</a></li>
                        {{end}}
                    </ul>
                    <ul>
                        {{if.IsLogin}}
                        <li><a href="/myartical"><span class="glyphicon glyphicon-log-in"></span> 我得秘密</a></li>
                        {{end}}
                    </ul>
                </ul>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>

    </div>
    </div>
</nav>
<div class="container-fluid" style="width:700px; margin:100px auto;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    带有 title 的面板标题
                </h3>
            </div>
            <div class="panel-body">
                面板内容
            </div>
        </div>
    </ul>
    <ul class="pager">
        <li class="previous"><a href="#">&larr; Older</a></li>
        <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
</div>
</body>

</html>