<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>秘密注册</title>
    <link rel="shortcut icon" href="/static/img/home.jpg/" type="image/x-icon" />
</head>
<body>

<nav class="navbar navbar-default " role="navigation" >
    <div class="container-fluid"  style="width:1000px; margin:0 auto;">
        <div>
            <a class="navbar-brand" href="/"><img src={{.Path}}/></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">心中所想</a>
        </div>

        <div class="container-fluid navbar-right">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container" style="width:300px; margin:200px auto;">
    <form class="bs-example bs-example-form"  method="POST" action="/regester">
        <br>
        <div class="input-group form-group">
            <input name="username" type="text" maxlength="16" minlength="3" class="form-control" >
            <span class="input-group-addon">账号</span>
        </div>
        <br>
        <div class="input-group form-group">
            <input name="password" type="password"  maxlength="16" minlength="3" class="form-control" >
            <span class="input-group-addon">密码</span>
        </div>
        <br>
        <br>
        <button  type="submit" class="btn btn-primary"  style="width:272px;"
        ><a href="/login"> </a>注册</button>

    </form>

</div>

</body>

</html>